.folder_gc {
    background-color: #f5f5f5;
    padding: 8px 13px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.my_folderText {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 7px;
}