.headers {
    height: 65px;
    width: 100%;
    background-color: #292d39;
}

.header_container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.headers_left {
    float: left;
    width: 300px;
}

/* login图片 */
.logins_img {
    width: 120px;
    height: 43px;
    position: relative;
    float: left;
    margin-top: 11px;
}

/* 边线 */
.bianxian {
    width: 1px;
    height: 20px;
    border-right: #ccc 1px solid;
    float: left;
    margin: 22px 24px;
}


/* 城市定位 */
.citys {
    float: left;
    width: 66px;
    margin-top: 20px;
}

.icons_citys {
    margin-right: 10px;
    color: #fff;
}
/* tab切换 */
.headers_center {
    float: left;
    width: 600px;
    padding-top: 8px;
    margin: 0 auto;
}

/* 登录注册 */
.headers_right {
    float: left;
    width: 300px;
    height: 44px;
    margin-top: 21px;
}

.btn_click {
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
}
.bianxians {
    position: absolute;
    width: 1px;
    height: 20px;
    border-right: #ccc 1px solid;
    float: left;
}

.tiems {
    color: #fff;
    text-decoration: none;
    padding: 0 33px;
    width: 20px;
    height: 20px;
}

.portraits {
    color: black;
}
.dingweiss{
    color: #fff;
}