/* 法律顾问 */
.my_counselor {
    width: 690px;
    height: 400px;
    overflow-y: scroll;
    /*添加横向滚动条*/
    /* white-space: nowrap;不换行 */
}

/* 法律机器人 */
.counselor_answers {
    margin-top: 20px;
    margin-bottom: 15px;
}

.counselor_robot2 {
    /* display: inline-block; */
    margin-top: 11px;
    margin-left: 20px;
}

.counselor_blerk2 {
    word-break: break-all;
    word-wrap: break-word;
    width: 227px;
    margin-left: 25px;
    /* display: inline-block; */
    margin-top: 14px;
    font-size: 14px;
    background-color: #c8e4fe;
    padding: 7px;
    border-radius: 8px;
}

/* 法律机器人 */
.counselor_consults {
    float: right;
    margin-top: 20px;
}

.userCounselor {
    float: right;
    /* width: 240px; */
    word-break: break-all;
    word-wrap: break-word;
    background-color: #c8e4fe;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    margin-right: 20px;
}

.counselor_blerk {
    word-break: break-all;
    word-wrap: break-word;
    width: 227px;
    margin-left: 25px;
    /* display: inline-block; */
    float: left;
    margin-top: 7px;
    font-size: 14px;
    background-color: #c8e4fe;
    padding: 7px;
    border-radius: 8px;
}


